<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Coditency</title>
    <link rel="stylesheet" href="./styles/style.css" />
  </head>
  <body>
    <div class="navbar">
      <!-- <div class="logo">
      <img src="logo.png" alt="Logo">
    </div> -->
      <div class="items">
        <p class="hm">Home</p>
        <p class="ab">About</p>
        <p class="lg">Login</p>
      </div>
    </div>
    <div class="main">
      <div class="cards">
        <div class="card1">
          <h3>Leetcode</h3>
        </div>
        <div class="card2">
          <h3>Codeforces</h3>
        </div>
        <div class="card3">
          <h3>Atcoder</h3>
        </div>
      </div>
    </div>
    <div class="hero">
      <div class="herocard">
        <p>Progress graph shows yours and friends</p>
      </div>
      <div class="actioncard">
        <div class="options">
          <p>Actions</p>
          <button>ADD</button>
          <button>VIEW</button>
          <button>API</button>
        </div>
      </div>
    </div>

    <div class="footer">
      <p>Made by Pushpesh Pant</p>
    </div>
  </body>
</html>
