<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Coditency</title>
    <link rel="stylesheet" href="./stylesheets/style.css" />
  </head>
  <body>
    <div class="container">
      <div class="navbar">
        <img src="./images/logo.png" alt="Coditency Logo" />
        <a href="/" class="nav-link">Home</a>
        <a href="/progress" class="nav-link">Progress</a>
        <a href="/tasks" class="nav-link">Tasks</a>
        <a href="/about" class="nav-link">About</a>
        <a href="/login" class="nav-link">Login/Logout</a>
      </div>
      <div class="task-form">
        <h2 class="form-title">Add New Task</h2>
        <form action="/addtask" method="POST" class="form">
          <input
            type="text"
            name="title"
            placeholder="Title"
            class="form-input"
          />
          <input
            type="text"
            name="description"
            placeholder="Description"
            class="form-input"
          />
          <button type="submit" class="action-btn">Submit</button>
        </form>
      </div>
      <div class="task-display">
        <% tasks.forEach(task => { %>
        <div class="task-card">
          <h3><%= task.title %></h3>
          <p><%= task.description %></p>
        </div>
        <% }); %>
      </div>
    </div>
  </body>
</html>
